/* Variables
================================== */
@bw: 3px; // border width

/* Page styling
================================== */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
html {
  height: 100%;
  background-color: #EEE;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  max-width: 800px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  background-color: white;
  border: double 3px #DDD;
  border-top: none;
  border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

strong {
  color: darken(slategrey, 20%);
}

/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  min-width: 615px;
}

.Rtable-cell-id, .Rtable-cell-title, .Rtable-cell-op {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.8em 1em;
  list-style: none;
  border: solid @bw white;
  background: fade(slategrey, 20%);
  text-align: center;

  > h1, > h2, > h3, > h4, > h5, > h6 {
    cursor: pointer;
    margin: 0;
  }
}

.Rtable-cell-id {
  width: 10%;
}

.Rtable-cell-title {
  width: 70%;
}

.Rtable-cell-op {
  width: 20%;
}

.sortorder:after {
  content: '\25b2';
}

.sortorder.sortByDesc:after {
  content: '\25bc';
}